[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
Actions=scanwithVT;

[Desktop Action scanwithVT]
Name=Scan with VT.Uploader
Exec=vtuploader
Icon=security-medium
